.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 60px;
    &_fz14 {
        font-size: 14px;
        line-height: 21px;
    }
    &_fz16 {
        font-size: 16px;
        line-height: 24px;
    }
    &_fz20 {
        font-size: 20px;
        line-height: 30px;
    }
    &_fz36 {
        font-size: 36px;
    }
    &_fz48 {
        font-size: 48px;
    }
    &__section-title {
        position: relative;
        text-align: center;
        z-index: 2;
        @include before_circle;
        &:before {
            top: -6px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__section-subtitle {
        text-align: center;
    }
}

.promo__subtitle {
    font-size: 32px;
    font-weight: bold;
    line-height: 50px;
    color: #FFF;
    animation: 5s neon-2 alternate-reverse infinite;    
    &:before {
        top: 13%;
    }
}

@keyframes neon-2 {
    from {
        scale: 100%;
        text-shadow: 0 0 5px #9c9c9c,
        0 0 10px #9c9c9c,
        0 0 15px #9c9c9c,
        0 0 20px $main-color;
    }
    to {
        scale: 103%;
        text-shadow: 0 0 20px $main-color,
        0 0 35px $main-color,
        0 0 40px $main-color,
        0 0 50px $main-color,
        0 0 800px $main-color;
    }
}    